<div class="container">



    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
        <label>Type Voiture en tapant</label>
        <input class="form-control" #searchTerm (keyup)="onKeyUp(searchTerm.value)">
        </div>
        </form>


    <!-- <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
        <label>Type Voiture</label>
        <input type="text" class="form-control" [(ngModel)]="typeVoiture" name="typeVoiture" class="form-control">
        <button type="submit" (click)="rechercherVoits()" class="btn btn-primary mb-2 ml-2">Rechercher</button>
        </div>
        </form> -->


    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table">
                <caption>Liste de Voitures</caption>
                <thead>
                  <tr>
                    <th scope="col">#id</th>
                    <th scope="col">Type</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Date de Création</th>
                    <th scope="col">Marque</th>
                    <th scope="col">Modèle</th>
                  </tr>
                </thead>
                <tbody *ngFor="let v of voitures"> 
                  <tr>
                    <td>{{v.idVoiture}}</td>
                    <td>{{v.typeVoiture}}</td>
                    <td>{{v.prixVoiture}}</td>
                    <td>{{v.dateCreation | date :'dd/MM/yyyy'}}</td>
                    <td>{{v.marque.nomMar}}</td>
                    <td>{{v.modele.nomMod}}</td>
                    <td><a *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="supprimerVoiture(v)">Supprimer</a></td>
                    <td><a *ngIf="authService.isAdmin()" class="btn btn-success" [routerLink]="['/updateVoiture',v.idVoiture]">Modifier</a></td>
                  </tr>
                 
                </tbody>
              </table>
        </div>
    </div>
</div>